@model IEnumerable<StudentAssignmentMVC.Models.StudentModelMVC>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stu_Rollno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stu_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stu_city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stu_state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stu_country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stu_Rollno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stu_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stu_city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stu_state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stu_country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Stu_Rollno}) |
            @Html.ActionLink("Details", "Details", new { id=item.Stu_Rollno}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Stu_Rollno})
        </td>
    </tr>
}

</table>
